<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'employee_css/css/sample.css' %}">
</head>
<body>
    <div class="main">
        <div class="container">
            <h3>Login</h3>
            <form action="../" method="POST">
                {% csrf_token %}
                <div class="lg_boxes">
                    <input type="text" name="username" id="" placeholder="Username" style="height: 30px;border-radius: 10px;padding-left: 9px; border: 2px solid rgb(187, 186, 186);">
                    <input type="password" name="password" id="o1" placeholder="Password" style="height: 30px;border-radius: 10px;padding-left: 9px; border: 2px solid rgb(187, 186, 186);">
                    <input type="submit" name="" value="Login"  id="btn1">
                </div>
            </form>
            <p>New to the company ??? Pls : <a href="register" style="font-size: 12px;">sign up</a></p>
            <p><a href="">Forgot password??</a></p>
        </div>
    </div>
</body>
</html>