<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>employee-home</title>
    <link rel="stylesheet" href="{% static 'employee_css/css/sample_copy.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
   <div class="esv_main">
    <div class="logout">
        <a href="../logout"><i class="bi bi-box-arrow-right"></i></a>
    </div>
    <div class="esv_container">
        <h3>Welcome {{data.name}} !!</h3>
        <table border="1">
            <tr>
                <th>Emp_id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Phno</th>
                <th>Address</th>
                <th>Username</th>
            </tr>
            <tr>
                <td>{{ data.emp_id }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.age }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.phno }}</td>
                <td>{{ data.address }}</td>
                <td>{{ data.username }}</td>
                <td>
                    <a href="../update_emp">Update</a>
                </td>
            </tr>
        </table>
        <p>Delete account :<a href="../delete">Click here!!</a></p>
        <table border="1">
            <tr>
                <th colspan="3">WORKS</th>
            </tr>
            <tr>
                <td>Start Date</td>
                <td>Work Name</td>
                <td>End Date</td>
            </tr>
            {% for i in data1 %}
                <tr>
                    <td>{{i.wrk.start_date}}</td>
                    <td>{{i.wrk.name}}</td>
                    <td>{{i.wrk.end_date}}</td>
                </tr>
            {% endfor %}
        </table>

    </div>
        
   </div>
</body>
</html>