<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update-employee</title>
    <link rel="stylesheet" href="{% static 'employee_css/css/sample.css' %}">
</head>
<body>
    <div class="main">
        <div class="container1">
            <h3>Update</h3>
            <form action="../update_emp/{{emp.pk}}" method="POST">
                {% csrf_token %}
                <div class="lg_boxes1">
                    <input type="text" name="name" id="" value="{{emp.name}}" placeholder="Name" style="height: 30px;border-radius: 10px;padding-left: 9px; border: 2px solid rgb(187, 186, 186);">
                    <input type="number" name="age" id="" value="{{emp.age}}" placeholder="Age" style="height: 30px;border-radius: 10px;padding-left: 9px; border: 2px solid rgb(187, 186, 186);">
                    <input type="email" name="email" id="" value="{{emp.email}}" placeholder="Email" style="height: 30px;border-radius: 10px;padding-left: 9px; border: 2px solid rgb(187, 186, 186);">
                    <input type="text" name="phno" id="" value="{{emp.phno}}" placeholder="Phno" style="height: 30px;border-radius: 10px;padding-left: 9px; border: 2px solid rgb(187, 186, 186);">
                    <textarea name="address" id="" cols="10" rows="0" placeholder="Address" style="border-radius: 10px;padding-left: 9px; border: 2px solid rgb(187, 186, 186);">{{emp.address}}</textarea>
                    <input type="submit" name="" value="Update"  id="btn1">
                </div>
            </form>
        </div>
    </div>
</body>
</html>